export EDITOR="nvim"
# TODO: Add a script that runs ptyxis through flatpak and reference it here
export TERMINAL="app.devsuite.Ptyxis"

export LANG="en_US.UTF-8"
export LANGUAGE="en_US:en"

export PATH="$HOME/.local/bin:$PATH"

if [ -d "$HOME/.spicetify" ]; then
  export PATH=$HOME/.poba:$PATH
fi

{{- if eq .profile "devcontainer" }}
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export APPIMAGE_EXTRACT_AND_RUN=1

if command -v soar &> /dev/null; then
  export PATH="$HOME/.local/share/soar/bin:$PATH"
fi
if [ -d "$HOME/.local/share/fnm" ]; then
  export PATH="$HOME/.local/share/fnm:$PATH"
  eval "$(fnm env --use-on-cd --shell zsh)"
fi
{{- end }}
