README.md

# container logic
{{ if eq .profile "devcontainer" }}
.config/hypr/**
.config/rofi/**
.config/waybar/**
.config/alacritty/**
{{ end }}

# This is only needed when setting up a devcontainer with devpod
install.sh
devcontainers
