[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 32979892+lore-corrias@users.noreply.github.com
	name = lore-corrias
	signingkey = {{ if eq .chezmoi.username "lore" }}7BE1BDC11544ACF739F35B1E5DBCB1D20355DE87{{ else }}1AAA4C4B66A31DEF026275A99392E9481152D63A{{end}}
[commit]
	gpgSign = true
[core]
	excludesFile = ~/.gitignore
