[user]
	email = 32979892+lore-corrias@users.noreply.github.com
	name = lore-corrias
  signingkey = {{ .git_ssh_signing_key_full }}
[commit]
	gpgSign = true
[core]
	excludesFile = ~/.gitignore
	sshCommand = ssh -o IdentitiesOnly=yes -i ~/.ssh/{{ .git_ssh_login_key }}.pub
[gpg]
	format = ssh
