@import "mocha.css";

@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

@define-color textcolor  #ffffff;
@define-color idk #ffffff;
@define-color idk2 #2596be;
@define-color buttoncolor #1269cc;
@define-color idk3 #303030;

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "FiraCode Nerd Font";
    font-weight: 500; 
    border: none;
    border-radius: 0px;
    margin: 2px 1px 1px 1px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .2s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces * {
  border-radius: 15px;
  font-weight: bold;
  font-style: normal;
  font-size: 14px
}

#workspaces {
    border-radius: 15px;
    background-color: #000000;
    padding: 0px 1px;
    color: @textcolor;
}

#workspaces button {
    padding: 0px 5px;
    margin: 7px 4px;
    color: @textcolor;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #ffffff;
    background: @buttoncolor;
    border-radius: 20px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: #000000;
    background: @buttoncolor;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: #000000;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: #000000;
    border-radius: 15px;
}

#taskbar {
    border-radius: 15px;
    padding: 0px 3px;
}

#taskbar button.active {
    background: @buttoncolor;
    border-radius: 15px;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser, 
#custom-filemanager,
#network,
#pulseaudio,
#battery,
#custom-appmenu,
#clock {
    margin-right: 10px;
    font-weight: bold;
    color: @iconcolor;
    padding: 4px 10px 3px 10px;
    font-size: 16px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 2px 5px 0px 7px;
    padding-right: 5px;
    font-size:20px;
    color: #ffffff;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#cpu,
#disk,
#memory,
#temperature,
#hardware {
  background-color: #000000;
  color: #ffffff;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

#temperature:hover,
#disk:hover,
#cpu:hover {
  background-color: @buttoncolor;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  padding-left: 5px;
  min-width: 40px;
}


#memory {
  color: #00FF00;
}

#memory.critical{
    color: #ff0000;
}

#memory.warning {
    color: #FFA500;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @buttoncolor;
    font-size: 16px;
    color: @textcolor;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: #000000;
    font-size: 16px;
    color: @text;
    border-radius: 15px;
}

#pulseaudio.muted {
    background-color: #000000;
    color: @text;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: #000000;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: #000000;
    font-size: 16px;
    padding-left: 12px;
    color: @idk;
    border-radius: 15px;
}

@keyframes blink {
    to {
        background-color: @surface1;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
/**/
#tray {
    background-color: @color;
    border-radius: 15px;
    border: 2px solid @overlay1;
    margin:5px 10px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/*#tray > .passive {*/
/*    -gtk-icon-effect: dim;*/
/*}*/
/**/
/*#tray > .needs-attention {*/
/*    -gtk-icon-effect: highlight;*/
/*    background-color: @red;*/
/*}*/
/**/
/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */
/**/
/*label:focus {*/
/*    background-color: #000000;*/
/*}*/
/**/
/*#backlight {*/
/*    background-color: #90b1b1;*/
/*}*/
/**/
/*#network {*/
/*    background-color: #2980b9;*/
/*}*/
/**/
/*#network.disconnected {*/
/*    background-color: @red;*/
/*}*/
