# See https://wiki.hyprland.org/Configuring/Monitors/
monitor={{ if eq .chezmoi.username "lorenzo" }}eDP-1,1920x1200@60.00100,auto,1{{ else }},1920x1080@60.00100,auto,1{{ end }}
{{ if eq .chezmoi.username "lorenzo" }}monitor=DP-2,3840x2160@59.95,auto,1.5{{ end }}
